# Python Einführung
## Kapitel 1: Grundlagen
### Kapitel 1.1: Erste Anweisungen

In [5]:
# Kommentar
print("Hello World!")

Hello World!

### 1.2 Kommentare

In [8]:
# Einzeiliger Kommentar
'''
Mehrzeiliger Kommentar
'''

'\nMehrzeiliger Kommemtar\n'

### 1.3 Einfache Datentypen

In [9]:
# Variablen
variable1 = "Hypnotoad"
print(variable1)

Hypnotoad

In [10]:
# String Zeichenkette
firstname = "Hugo"

In [11]:
# Integer
age = 0
print (age)

0

In [13]:
# Float
size = 1.76877686576
print(size)

1.76877686576

In [14]:
alarm = False
door = True
print(alarm, door)

False True

In [16]:
type(alarm)

bool

In [17]:
type(firstname)

str

In [18]:
type(size)

float

In [19]:
type(variable1)

str

### 1.4 Operatoren

In [20]:
# Add.
812738273+2323423442

3136161715

In [21]:
# Mult.
size*100

176.877686576

In [23]:
variable1 * 10

'HypnotoadHypnotoadHypnotoadHypnotoadHypnotoadHypnotoadHypnotoadHypnotoadHypnotoadHypnotoad'

In [25]:
variable1+"10"

'Hypnotoad10'

### 1.5 Funktionen und Methoden

In [26]:
print (variable1)
len (variable1)

Hypnotoad

9

In [27]:
name = "Alice"
name.upper()

'ALICE'

In [28]:
name_upper_case = name.upper()

In [29]:
print (name_upper_case)

ALICE

In [31]:
name.count("l")

1

In [32]:
name.replace("Alice", "Bob")

'Bob'

In [33]:
print(name)

Alice

In [34]:
another_name = "Peter"

In [35]:
another_name = another_name.upper()

In [36]:
print(another_name)

PETER

### 1.6 Listen und Dictionaries

In [37]:
# Liste
names = ["Alice", "Bob", "Charly", "Diana"]

In [39]:
names [0]

'Alice'

In [40]:
names [-1]

'Diana'

In [43]:
names [0:3]

['Alice', 'Bob', 'Charly']

In [44]:
#slicing
names [2:]

['Charly', 'Diana']

In [45]:
#Dictionaries
authors_and_birth_years = {"Lovelace": 1882, 
                           "Darwin": 1809, 
                           "Noether":1882, 
                           "Hawking": 1942}

In [48]:
authors_and_birth_years["Darwin"]

1809

In [49]:
type(authors_and_birth_years)

dict

In [50]:
type(names)

list

## 2 FOR-Schleife

In [52]:
for last_name in names:
    print(last_name + " did awsome stuff.")

Alice did awsome stuff.
Bob did awsome stuff.
Charly did awsome stuff.
Diana did awsome stuff.

In [53]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether', 'Hawking'])

In [60]:
for key, value in authors_and_birth_years.items():
    print(key, value)

Lovelace 1882
Darwin 1809
Noether 1882
Hawking 1942

In [61]:
for value in authors_and_birth_years.values():
    print(value)

1882
1809
1882
1942

In [62]:
for key in authors_and_birth_years.keys():
    print(key)

Lovelace
Darwin
Noether
Hawking

## 2.1 Bedingte Anweisungen (Conditionals)

In [65]:
temp = 31
if temp > 15:
    print("warm")

warm

In [75]:
temp = 30
if temp > 25:
    print("Es ist heiß.")
elif temp > 15:
    print("Es ist warm.")
else:
    print("kühler")

kühler

In [89]:
temp2 = 0
if  (15 < temp2 < 30):
    print("Temperatur ist normal")
elif (temp2 < 15):
    print("Temperatur ist kühl.")
else:
    print("HITZE!!")

Temperatur ist kühl.

In [90]:
%who

age	 alarm	 another_name	 authors	 authors_and_birth_years	 door	 firstname	 key	 last_name
name	 name_upper_case	 names	 size	 temp	 temp2	 value	 values	 variable1